In [1]:
import pandas as pd

In [2]:
topic_data = pd.read_pickle('../../data/news/topic_data.pkl')

In [23]:
topic_data.name_top_topic.value_counts()

1.0    135195
4.0    129168
0.0    104402
5.0     77106
7.0     74691
2.0     70547
3.0     58249
6.0     52646
Name: name_top_topic, dtype: int64

In [5]:
n = len(topic_data.name_top_topic.value_counts())

In [7]:
topic_data.loc[topic_data.name_top_topic == 1, ['제목', 'URL']]

,제목,URL
0,"[현장&이슈]천상 주택가 한가운데 주상복합,주민 반발",www.ksilbo.co.kr/news/articleView.html?idxno=5...
26,‘해남 코아루 더베스트’ 380세대 분양,http://www.kjdaily.com/read.php3?aid=148585878...
38,"GS건설, 2월 4212가구 공급 설 연휴 뒤 분양 본격화",NaN
70,'교통 호평' 평내호평역 인근에 1만가구,NaN
75,[MK 추천매물] 동탄2신도시 KTX역 상가 28억8천만원,http://news.mk.co.kr/newsRead.php?no=71064&yea...
...,...,...
701957,스타필드 안성 개점에 미래가치 기대되는 ‘e편한세상 비전 센터포레’ 주목,http://www.sedaily.com/NewsView/1Z6ESIAFWM
701981,"[김진유의 도시읽기] ""거실 넓히세요"" 발코니 없애고 도시의 표정을 잃어버리다",https://www.hankookilbo.com/News/Read/A2020072...
701993,"대우건설, 상업시설 브랜드 아클라우드 론칭",http://www.segye.com/content/html/2020/07/31/2...
701995,"반도건설, 코로나19 위기 속 ‘공격적 사업 다각화’ 주목",http://www.segye.com/content/html/2020/07/31/2...
702002,부동산 시장도 '싱글슈머' 시대 1인 가구 잡는 오피스텔 인기,http://www.ajunews.com/view/20200731205629917

In [9]:
for cnt in range(0,n):
    temp_data = topic_data.loc[topic_data.name_top_topic == cnt, ['제목', 'URL']]
    temp_data.to_csv('../../data/news/topic/topic_data_{}.csv'.format(cnt))